{% extends "index.html" %}
{% block body %}
    {% if session.is_admin %}
        <h3>Здравствуйте, {{ session.username }}</h3>
        <br>
        <a class="btn-default btn-xs" href="{{ url_for('logout') }}">Выйти из аккаунта</a>
    {% else %}
        <form action="/login/" method="post">
            Имя пользователя:<br>
            <input class="form-control" type="text" name="username">
            <br>
            Пароль:<br>
            <input class="form-control" type="password" name="password"><br>
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>

    {% endif %}
{% endblock %}
