{% extends "index.html" %}
{% block body %}

    {% if session.is_admin %}
        {% for subject in grades_array %}
            <span>{{ subject.title }}</span><br>
        {% else %}
            <em>Что-то пошло не так...</em>
        {% endfor %}

        <br>
        <form action="{{ url_for('add_grade') }}" method="post">

            <input type="text" class="form-control" name="title">

            <br>
            <button type="submit" class="btn">Добавить</button>


        </form>


    {% else %}
        <form action="/login/" method="post">
            Имя пользователя:<br>
            <input class="form-control" type="text" name="username">
            <br>
            Пароль:<br>
            <input class="form-control" type="password" name="password"><br>
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>

    {% endif %}
{% endblock %}