{% extends "index.html" %}
{% block body %}

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Домашние работы</div>


        <!-- List group -->
        <ul class="list-group">
            {% for homework in homeworks_array %}
                <li class="list-group-item">
                    <div style="width: 450px">{{ homework.data }}{% if session.is_admin %}<br>
                        <a class="btn btn-xs btn-default" href="/delete_homework/{{ homework.id }}"><span
                                class="glyphicon glyphicon-remove-sign"/>&nbspУдалить</a>{% endif %}</div>
                </li>
            {% else %}
                <li class="list-group-item">Нет данных</li>
            {% endfor %}
            {% if session.is_admin %}
                <li class="list-group-item">
                    <form action="/add_homework/{{ session.grade_selected_id }}/{{ subject_id }}/" method="post">

                        <input type="text" class="form-control" name="data">

                        <br><br>
                        <button type="submit" class="btn">Принять</button>


                    </form>

                </li>
            {% endif %}
        </ul>
    </div>

    {% if session.is_admin %}
        <a class="btn btn btn-default" href="{{ url_for('remove_subject',subject_id=subject_id) }}"><span
                class="glyphicon glyphicon-remove-circle"/>&nbspУдалить предмет</a>{% endif %}
{% endblock %}